/* Add your custom extension styling here */

.kitchentimer-quick-layout {
  padding: 0px;
  spacing: 5px;
}

.kitchentimer-menu-box {
  padding: 0px;
  /*spacing: 10px;*/
}

.kitchentimer-menu-icon {
  border-right: 10px;
  icon-size: 1.2em;
}

.kitchentimer-menu-label {
  border-right: 10px;
  font-family: monospace;
}

.kitchentimer-menu-delete-icon {
  border-left: 10px;
  icon-size: 1.2em;
}

.kitchentimer-menu-name {
  font-weight: normal;
}

.kitchentimer-panel-box {
  spacing: 4px;
}

.kitchentimer-panel-label {
  font-weight: normal;
  font-stretch: normal;
  font-family: monospace;
  font-size: smaller;
}

.kitchentimer-panel-name {
  font-weight: lighter;
  font-stretch: condensed;
  font-family: sans-serif;
  font-size: smaller;
}
